<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.febryan.webview">

    <uses-permission android:name="android.permission.INTERNET" />


<!--    untuk custom icon aplikasi silahkan buat dulu asset image yang di res klik kanan -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_sedih_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WebView">
        <activity android:name=".loginActivity"></activity>
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.WebView.NoActionBar"></activity>
    </application>

</manifest>